@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Park-a-lot</h1>
       <hr
    <p>We are learning about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<footer>
    &copy; 2019 Dribble & Hurl Ltd. All Rights Reserved.<br />
    Disclaimer: Nu fur-bearing animals was hurt during the construction of this web page. May contain nutmeg (but we doubt it). Free batteries included. Good Luck finding them...
</footer>

